footer {
  background-color: #6a6a6a;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  height: 300px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

#footer-top {
  height: 220px;
}

#footer-top h3 {
  text-align: center;
}

.footer-column {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.footer-column-side {
  width: 310px;
}

.footer-column-side img {
  width: 140px;
  display: block;
  margin: 30px auto;
}

.footer-column-center {
  width: 612px;
  text-align: left;
}

#footer-bottom {
  padding: 15px 50px;
  background-color: #545454;
  display: flex;
  align-items: center;
}

#footer-bottom img {
  height: 40px;
  padding-right: 30px;
}

#footer-bottom p {
  display: inline-block;
  text-align: right;
  width: 100%;
}
