

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin: 10px auto;
  padding: 0;
  max-width: 1240px;
  text-align: center;
}

#green {
  color: #cfc;
}

.topnav {
    background-color: #ff9800;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

nav img {
  margin-left: 30px;
  height: 60px;
}

#article-block {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px auto;
  padding: 15px;
  text-align: justify;
  max-width: 800px;
}

#article-block p {
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

#article-block p img {
  max-width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}

blockquote {
  background-color: #eeeeee;
  border-radius: 3px;
  box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

strong {
  font-weight: bold;
}

#article-block > h1 {
  height: 60px;
  background-color: orange;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 0px;
}

#article-block > h2 {
  font-weight: 500;
}

#article-block > h3 {
  font-size: 20px;
}


pre {
  background-color: #404040;
  box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  padding: 5px;
}

#article-block img.preview {
  max-width: 33%;
  display: initial;
}

#article-date {
  text-align: center;
}

#leader-holder, #members-holder {
  text-align: center;
  vertical-align: top;
}

#leader-holder h3 {
  display: none;
}

.proj-members #members-holder h2, .proj-members #members-holder h3 {
  display: none;
}

#complete, #inprogress {
  margin-top: -5px;
  text-align: center;
  font-style: italic;
}

#complete {
  color: #aaa;
}

#inprogress {
  color: #4b4;
  font-weight: bold;
}

.member-image {
  width: 33%;
  min-width: 170px;
  height: 270px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.member-image img {
  border-radius: 50%;
  margin: 0 auto 15px;
  width: 150px;
  padding: 2px;
  border: 1px solid #fff;
}

#leader-holder .member-image > img {
  box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 4px #6a6a6a;
}

.member-image > h1 {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 2px;
}

.member-image > h2 {
  color: #ff9800;
  font-size: 12px;
  font-style: italic;
  line-height: 13px;
  margin: 0 auto 3px;
}

.member-image > h3, .proj-members #leader-holder h2 {
  color: #999;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto;
}

.member-profile p {
  clear: both;
  margin: 15px;
}

.member-profile img {
  border: #95989A;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0px auto 15px auto;
  width: 200px;
  max-width: 30%;
  min-width: 80px;
}

.member-profile h2 {
  color: #545454;
  font-weight: 500;
  text-align: left;
}

.member-profile ul {
  text-align: left;
}

.member-profile  li {
  font-style: italic;
  margin-bottom: 5px;
}

.member-profile li#email {
  list-style-type: none;
  padding-left: 1.5em;
  background-image: url(/images/email_icon.svg);
  background-size: 1.2em;
  background-repeat: no-repeat;
}

.member-profile li#phone {
  list-style-type: none;
  padding-left: 1.5em;
  background-image: url(/images/phone_icon.svg);
  background-size: 1.2em;
  background-repeat: no-repeat;
}

.member-profile a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

a.box-wrapper {
  text-decoration: none;
}

a.preview {
  text-decoration: none; 
}

.gallery-box {
  margin: 20px;
  height: 202px;
  width: 360px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.gallery-date, .gallery-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  width: calc(360px - 11ch);
}

.gallery-date {
  height: 50px;
  width: 11ch;
  background-color: #6a6a6a;
}

a .gallery-title, a .project-title {
  color: #000;
}

a .gallery-date, a .project-status {
  color: #fff;
}

.project-box {
  position: relative;
  height: 202px;
  width: 360px;
  margin: 20px;
  background-size: cover;
  display: inline-block;
  justify-content: center;
  align-items: stretch;
  border-radius: 3px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-description {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  color: #000;
  width: 360px;
}

.project-title-box {
  align-items: flex-end;
  display: inline-flex;
  position: absolute;
  left: 0;
  bottom: 0;
}

.project-title {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: calc(360px - 15ch);
}

.project-status {
  background-color: #6a6a6a;
  height: 50px;
  width: 15ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-preview {
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  vertical-align: top;
}

.post-preview img {
  margin: 10px;
  max-width: 220px;
  max-height: 220px;
  display: inline-block;
}

.post-meta {
  padding-right: 4%;
}

.post-author, .post-date {
  text-decoration: none;
  color: #000;
}

.post-author {
  font-weight: 500;
}

.post-date {
  float: right;
}

.post-wrapper {
  display: inline;
  vertical-align: middle;
}

.post-content {
  display: inline-block;
  width: 300px;
  text-align: left;
  padding: 15px;
  vertical-align: top;
}

.post-content h1 {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.post-content p {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 15px;
}

ul.guides-list, #markdown-toc {
  color: orange;
}

ul.guides-list p, #markdown-toc p{
  color: black;
  display: inline;
}

ul.guides-list a, #markdown-toc a{
  text-decoration: none;
  color: #6a6a6a;
}


@media screen and (max-width: 810px) {
  #article-block {
    margin: 30px 5px;
  }
}

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}
