.member-info {
  padding: 0 0 0 0;
  text-align: left;
}

.member-info div {
  display: inline-block;
  color: #dbdbdb;
  vertical-align: top;
}

.member-info img {
  border-radius: 50%;
  display: block;
  margin: 0 10px 0 0;
  width: 60px;
  padding: 2px;
  border: 1px solid #fff;
}

.member-info h1 {
  color: #fff;
  display: inline;
  font-size: 16px;
  margin-bottom: 3px;
  overflow: hidden;
}

.member-info h2 {
  display: inline;
  font-size: 12px;
  font-style: italic;
  line-height: 13px;
  margin-bottom: 5px;
}

.member-info ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.info-main {
  float: none;
  height: auto;
  margin-bottom: 20px;
  max-width: 100%;
  padding: 0;
  position: relative;
  text-align: left;
  width: auto;
}

@media screen and (max-width: 450px) {
  .member-info h2 {
    display: block;
    margin: 0;
  }
}

/*
.image-holder {
  width: 12%;
  min-width: 60px;
}

.info-main {
  width: 87%;
}

.info-main table {
  table-layout: fixed;
  width: 100%;
}*/