---
layout: default-wide
title: Cikkek
---
{% for post in site.posts %}<a class="post-href" href='{{ post.url }}'>
  <div class='post-preview'>
    <div class='post-wrapper'>
      <img src='{{ post.image }}'>
      <div class='post-content'>
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <div class='post-meta'>
          <span class='post-author'>
            {%- for member in site.members -%}
              {% if member.username == post.author %}
                {{ member.name }}
              {% endif %}
            {%- endfor -%}
          </span>
          <span class='post-date'>{{ post.date | date: "%Y.%m.%d." }}</span>
        </div>
      </div>
    </div>
  </div>
</a>{% endfor %}
