---
title: Projektek
layout: default-wide
---

<div id="project-list">
{% assign starting_projects = site.projects | where: 'status', 'starting' %}
{% for project in starting_projects %}
    {% include project.html %}
{% endfor %}

{% assign active_projects = site.projects | where: 'status', 'active' %}
{% for project in active_projects %}
    {% include project.html %}
{% endfor %}

{% assign inactive_projects = site.projects | where: 'status', 'inactive' %}
{% for project in inactive_projects %}
    {% include project.html %}
{% endfor %}

{% assign finished_projects = site.projects | where: 'status', 'finished' %}
{% for project in finished_projects %}
    {% include project.html %}
{% endfor %}

{% assign unfinished_projects = site.projects | where: 'status', 'unfinished' %}
{% for project in unfinished_projects %}
    {% include project.html %}
{% endfor %}
</div>
