---
title: Projektek
layout: default-wide
---

{% for project in site.projects %}
<a href='{{ project.url }}' class='box-wrapper'>
  <div class='project-box' style='background-image: url(/images/projects/{{ project.preview }})'>
    <div class='project-description'>
      {{ project.introduction }}
    </div>
    <div class='project-title-box'>
      <div class='project-title'>
        {{ project.title }}
        <br>
        {% for member in site.members %}
          {% if member.username == project.leader %}
            Projektvezető: {{ member.name }}
          {% endif %}
        {% endfor %}
      </div>
      <div class='project-status'>
          {% if project.complete %}
          Kész projekt
          {% else %}
          <span class='green'>A projekt jelenleg is aktív!</span>
          {% endif %}
      </div>
    </div>
  </div>
</a>
{% endfor %}
