---
layout: default
title: Tagok
---
<div id='leader-holder'>
{% for member in site.members %}
	{% if member.roles contains "Körvezető" %}
		<a href='{{ member.url }}' class='box-wrapper'>
		{% include member.html username=member.username %}
		</a>
	{% endif %}
{% endfor %}
</div>

<div id='members-holder'>
{% for member in site.members %}
	{% if member.roles contains "Körvezető" %}
	{% else %}
		<div class='box-wrapper'>
		<a href='{{ member.url }}'>
		  {% include member.html username=member.username projects=true %}
		</a>
		</div>
	{% endif %}
{% endfor %}
</div>
