<footer>
  <div class='footer-top footer-clear'>
    <div class='footer-column footer-column-center'>
      <h3>Elérhetőségek</h3>
      <div class='team-list'>
		{% for member in site.members %}
			{% if member.roles contains "Körvezető" %}
				{% include member-info.html username=member.username %}
			{% elsif member.roles contains "Gazdaságis" %}
				{% include member-info.html username=member.username %}
			{% endif %}
		{% endfor %}
      </div>
    </div>

    <div class='footer-column footer-column-left'>
      <h3>Támogatóink</h3>
      <a href='http://hungary.ni.com'><img src='/images/logos/ni-logo.svg' style="width: 131px; height: 33px;" alt='National Instruments'></a>
      <a href='http://www.balluff.hu'><img src='/images/logos/balluff-logo.svg' style="width: 140px; height: 53px;" alt='Balluff'></a>
    </div>

    <div class='footer-column footer-column-right'>
      <h3>Kövess minket!</h3>
      <a href='https://www.facebook.com/LegoKor' class='social-button fb-button'><div class='use-sprite'></div>Facebook</a>
      <a href='https://www.instagram.com/legokor/' class='social-button ig-button'><div class='use-sprite'></div>Instagram</a>
    </div>
  </div>

  <div class='footer-bottom footer-clear'>
    <a href='http://simonyi.bme.hu' class='simonyi-logo'><img src='/images/logos/simonyi-logo.svg' alt='Simonyi Károly Szakkollégium'></a>
    <a href='http://sch.bme.hu' class='sch-logo'><img src='/images/logos/sch-logo.svg' alt='Schönherz Kollégium'></a>
    <p><a href='http://lego.sch.bme.hu/w/index.php?title=Kezdőlap' target='_blank'>© LEGO Kör 2025 | </a><span id="laborstate"></span></p>
  </div>
</footer>
