{% assign title = '' | split: '' %}
{% assign has_other_roles = false %}
{% assign is_member = false %}
{% for member in site.members %}
  {% if member.username == include.username %}
    {% for role in member.roles %}
      {% if include.roleonly == true and role != 'Tag' and role != 'Újonc' and role != 'Öregtag' %}
        {% continue %}
      {% endif %}
      {% if role == 'Tag' %}
        {% assign is_member = true %}
        {% continue %}
      {% endif %}
      {% assign has_other_roles = true %}
      {% assign title = role | split: ', ' | concat: title %}
    {% endfor %}
    {% if include.roleonly == true %}
      {% continue %}
    {% endif %}
    {% for project in site.projects %}
      {% if project.leader == include.username and project.status == 'active' %}
        {% assign role = project.title | append: ' projektvezető' %}
        {% assign title = role | split: ', ' | concat: title %}
        {% assign has_other_roles = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if has_other_roles == false and is_member == true %}
  {% assign title = 'Tag' %}
{% endif %}
{% for role in title reversed %}
  {{ role }}{% unless forloop.last %}, {% endunless %}
{% endfor %}
