{% for member in site.members %}
  {% if member.username == include.username %}
  <a href='{{ member.url }}'>
    <div class='member-info'>
      <img src='{{ member.image | default: "/images/members/NoImage.svg" }}'>
      <div class='info-main'>
        <h1>{{ member.name }}</h1>
        <h2>
          {% include member-roles.html username=include.username %}
        </h2>
        <ul>
          {% for item in member.contact %}
            <li>{{ item[1] }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </a>
  {% endif %}
{% endfor %}
