{% for member in site.members %}
{% if member.username == include.username %}
<div class='member-image'>
  {% assign image = member.image | default: "/images/members/NoImage.svg" %}
  {% if image contains '.jpg' %}
    {% assign image = image | replace: '.jpg', '-sm.jpg' %}
  {% endif %}
  <img src='{{ image }}'>
  <h1>{{ member.name }}</h1>
  <h2>{% include member-roles.html username=member.username %}</h2>

  {% assign memberprojects = '' %}
  {% for project in site.projects %}
  	{% if project.members contains member.username or project.leader == member.username %}
      {% capture memberprojects %}{{ memberprojects | append: project.title | append: '|' }}{% endcapture %}
    {% endif %}
  {% endfor %}
  <p class="member-projects">{{ memberprojects | split: '|' | join: ', ' }}</p>
</div>
{% endif %}
{% endfor %}
