<!doctype html>
<html>
<head>
  <title>{{ page.title }} | LEGO</title>
  <link rel='stylesheet' href='/css/highlight.css' type='text/css'>
  <link rel='stylesheet' href='/css/main.css' type='text/css'>
  <link rel='stylesheet' href='/css/footer.css' type='text/css'>
  <link rel='stylesheet' href='/css/member-info.css' type='text/css'>
  <link rel='stylesheet' href='/css/lightbox.css'>
  <script>
    function respo() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href='/rolunk/'>Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href='/galeria/'>Galéria</a>
    <a href='/projektek/'>Projektek</a>
    <a href='/cikkek/'>Cikkek</a>
    <a href='/tagok/'>Tagok</a>
    <a href='/tudasbazis/'>Tudasbazis</a>
    <a href='/tanfolyam/'>Tanfolyam</a>
    <a href="javascript:void(0);" class="icon" onclick="respo()">&#9776;</a>
  </div>
  {{ content }}
  {% include footer.html %}
</body>
</html>
