---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<h1>{{ page.title }}</h1>

<div id="article-meta">
{%- assign first = true -%}
{%- for member in site.members -%}
  {%- for author in page.author -%}
    {%- if member.username == author -%}
      {%- if first == true -%}
        Írta: <a href='{{ member.url }}'>{{ member.name }}</a>
        {%- assign first = false -%}
      {%- else -%},
        <a href='{{ member.url }}'>{{ member.name }}</a>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{{ author }}

<div id="article-date">{{ page.date | date: "%Y.%m.%d." }}</div>
</div>
{{ content }}
