---
layout: default-wide
---

<article id="article-block">
    <h1>{{ page.title }}</h1>

    {% if page.status == "inactive" %}
    <div id="inactive">A projekt jelenleg inaktív</div>
    {% elsif page.status == "starting" %}
    <div id="starting">Induló projekt</div>
    {% elsif page.status == "active" %}
    <div id="active">A projekt jelenleg is aktív!</div>
    {% elsif page.status == "archived" %}
    <div id="archived">A projekt archiválva lett!</div>
    {% elsif page.status == "finished" %}
    <div id="finished">A projekt sikeresen befejeződött!</div>
    {% else %}
    <div id="finished"></div>
    {% endif %}

    {{ content }}
</article>

{% if site.guides %}
    {% assign guides = site.guides | where_exp:"item", "item.projects contains page.title" %}
    {% assign guides_size = guides | size %}
    {% if guides_size != 0 %}
<aside class="guides-block">
    <h1>Tudásbázis</h1>
    <ul class="guides-list">
        {% for guide in guides %}
        <li><a href='{{ guide.url }}'>{{ guide.title }}</a></li>
        {% endfor %}
    </ul>
</aside>
    {% endif %}
{% endif %}

<aside class="members-block">
    <h1>Tagok</h1>
    {% assign members = site.members | where_exp:"item", "page.members contains item.username" %}
    <div class="proj-members">
        <div id='leader-holder'>
        {% for member in site.members %}
            {% if member.username == page.leader %}
                <a href='{{ member.url }}' class='box-wrapper'>
                <div class='member-image'>
                  <img src='{{ member.image | default: "/images/members/NoImage.svg" }}'>
                  <h1>{{ member.name }}</h1>
                  <h2>Projektvezető</h2>
                </div>
                </a>
            {% endif %}
        {% endfor %}
        </div>

        <div class='members-holder'>
        {% for member in members %}
            {% if member.username == page.leader or member.roles contains "Újonc" %}
                {% continue %}
            {% endif %}
            <a href='{{ member.url }}' class='box-wrapper'>
              {% include member.html username=member.username projects=false %}
            </a>
        {% endfor %}
        {% for member in members %}
	        {% if member.roles contains "Újonc" %}
            <a href='{{ member.url }}' class='box-wrapper'>
                {% include member.html username=member.username projects=false %}
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</aside>
